@model LovelyWaffles.Web.Models.IndexModel
@{
    ViewBag.Title = "Редактировать фото главной страницы";
}
@Html.Partial("AdminMenu")

<div class="container add_photo">
    @using (Html.BeginForm("EditCarouselTop", "Admin", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-inline" }))
    {
        <h3 class="message">@ViewBag.Message</h3>
        <div class="row">
            <input type="file" name="Image" class="col-md-3" />
            <input type="submit" value="&darr; Загрузить изображение (макс.6) &darr;" class="col-md-3 col-md-offset-1 btn btn-success" />
        </div>
    }
</div>

@Html.Partial("_CarouselTop")

<div class="container">
    <div class="row delete_photo">
        @foreach (var i in Model.Images)
        {
            <div>
                @using (Html.BeginForm("EditCarouselTop", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    if (i.ImgCarouselTop != null)
                    {
                        @Html.HiddenFor(m => m.id, new { @Value = i.ImageID })
                        <img src="@Url.Content(i.ImgCarouselTop)" class="img-responsive" />
                        <input type="submit" class="btn btn-danger" value="Удалить фото">
                    }
                }
            </div>
        }
    </div>
</div>

<div class="container add_photo">
    @using (Html.BeginForm("Edit3Pic", "Admin", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-inline" }))
    {
        <h3 class="message">@ViewBag.Message</h3>
        <div class="row">
            <input type="file" name="Image" class="col-md-3" />
            <input type="submit" value="&darr; Загрузить изображение (макс.3) &darr;" class="col-md-3 col-md-offset-1 btn btn-success" />
        </div>
    }
</div>

<div class="row edit_pic">
    @foreach (var i in Model.Images)
    {
        using (Html.BeginForm("Edit3Pic", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            if (i.Pictures != null)
            {
                @Html.Hidden("ImageID", i)
                <div class="col-md-4">
                    @Html.HiddenFor(m => m.id, new { @Value = i.ImageID })
                    <img src="@Url.Content(i.Pictures)" class="img-responsive" />
                    <input type="submit" class="btn btn-danger" value="Удалить фото">
                </div>
            }
        }
    }
</div>

<div class="container">
    @using (Html.BeginForm("Edit1Pic", "Admin", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-inline" }))
    {
        <div class="row">
            <input type="file" name="Image" class="col-md-3" />
            <input type="submit" value="&darr; Обновить изображение &darr;" class="col-md-3 col-md-offset-1 btn btn-success" />
        </div>
    }
</div>

<div class="container">
    <div class="row">
        @foreach (var i in Model.Images) { 
            if (i.Picture != null)
            {
                <img src="@Url.Content(i.Picture)" class="img-responsive" />
            }
        } 
    </div>
</div>

<div class="container add_photo">
    @using (Html.BeginForm("EditCarouselDown", "Admin", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-inline" }))
    {
        <h3 class="message">@ViewBag.Message</h3>
        <div class="row">
            <input type="file" name="Image" class="col-md-3" />
            <input type="submit" value="&darr; Загрузить изображение (макс.6) &darr;" class="col-md-3 col-md-offset-1 btn btn-success" />
        </div>
    }
</div>

    @Html.Partial("_CarouselDown")

    <div class="container">
        <div class="row delete_photo">
            @foreach (var i in Model.Images)
            {
                <div>
                    @using (Html.BeginForm("EditCarouselDown", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {
                        if (i.ImgCarouselDown != null)
                        {
                            @Html.HiddenFor(m => m.id, new { @Value = i.ImageID })
                            <img src="@Url.Content(i.ImgCarouselDown)" class="img-responsive" />
                            <input type="submit" class="btn btn-danger" value="Удалить фото">
                        }
                    }
                </div>
            }
        </div>
    </div>
