@model LovelyWaffles.Web.Models.LoginViewModel
@{
    ViewBag.Title = "Выполнить вход";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="entrance">
    <h2>Вход</h2>

    @using (Html.BeginForm("Login", "Admin", FormMethod.Post, new { @class = "form-horizontal" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        <div class="form-group">
            <label for="inputEmail3" class="col-sm-2 control-label">Логин</label>
            <div class="col-sm-10">
                @Html.TextBoxFor(m => m.UserName, new { placeholder = Html.DisplayNameFor(m => m.UserName), @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            <label for="inputPassword3" class="col-sm-2 control-label">Пароль</label>
            <div class="col-sm-10">
                @Html.PasswordFor(m => m.Password, new { placeholder = Html.DisplayNameFor(m => m.Password), @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <div class="checkbox">
                    <label>
                        @Html.CheckBoxFor(m => m.RememberMe)
                        @Html.DisplayNameFor(m => m.RememberMe)
                    </label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-default">Войти</button>
            </div>
        </div>
    }
</div>