@model LovelyWaffles.Web.Models.IndexModel

@{
    ViewBag.Title = "Index";
}

@Html.Partial("_CarouselTop")
<div class="container-fluid">
    <div class="row">
        <div class="col-md-offset-1 col-md-6 home_descript">
            <h2 class="home_h2">@Model.Description.HeadDescription1</h2>
            <p class="home_text">
                @Model.Description.Description1
            </p>
        </div>
    </div>
    <div class="row">
        @foreach (var i in Model.Images)
        {
            if (i.Pictures != null) { 
        <div class="col-md-4">
            <img src="@Url.Content(i.Pictures)" class="img-responsive" />
        </div>
            }
        }
    </div>
    <div class="row">
        <div class="col-md-offset-1 col-md-6 home_descript">
            <h2 class="home_h2">@Model.Description.HeadDescription2</h2>
            <p class="home_text">
                @Model.Description.Description2
            </p>
        </div>
    </div>
    <div class="row">
        @foreach (var i in Model.Images)
        {
            if (i.Picture != null) { 
            <img src="@Url.Content(i.Picture)" class="img-responsive" />
            }
        }
    </div>
    <div class="row">
        <div class="col-md-offset-1 col-md-6 home_descript">
            <h2 class="home_h2">@Model.Description.HeadDescription3</h2>
            <p class="home_text">
                @Model.Description.Description3
            </p>
        </div>
    </div>
</div>
@Html.Partial("_CarouselDown")
<div class="container-fluid">
    <div class="row">
        <div class="col-md-offset-1 col-md-6 home_descript">
            <h2 class="home_h2">@Model.Description.HeadDescription4</h2>
            <p class="home_text">
                @Model.Description.Description4
            </p>
        </div>
    </div>
</div>